.app {
    color: coral
}

.btn-primary {
    margin: 0.2rem
}

.title {
    background: antiquewhite;
    padding: 1rem;
}

.btn {
    margin: 0.2rem
}

.table-detail {
    margin: 0.5rem;
    text-align: center;
    width: 40%;
    margin: auto;
}

th,
td {
    text-align: center;
}

.types {
    background: blue;
    display: flex
}

.type-all-button {
    margin: auto;
}

.btn-lg {
    margin: 0.5rem;
    width: 7rem;
    font-size: 1rem;
}

div {
    margin: 0;
}

.tab-det {
    width: 50%;
}